@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --primary-color: #f60f20; 
  --secondary-color:  #1b206e; 
}

/* BASE STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html, body {
  font-family: 'Poppins', sans-serif;
  color: #111; 
}

h1 {
  font-size: 30px;
  font-weight: 500;
  
}
p {
  margin: 20px 0 10px;
    font-size: 1.1rem;
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 100px;
  margin-top: 60px;
}

section.home {
flex-direction: row;
margin-top: 0;

}
/* BUTTON*/

.btn {
  display: inline-block;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 20px 0; 
  border: 0;
}

btn:hover {
  transform: scale(0.98);
  color: #f70f10;
}

.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2rem; 
  font-weight: 700;
  z-index: 10;
}

/* toggle */
.toggle {
position: fixed;
top: 0;
right: 0;
width: 60px;
height: 60px;
background: #f60f20 url(../images/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
  cursor: pointer;
}

.toggle.active {
  background: #f60f20 url(../images/close.png);
   background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}


/* NAVIGATION */
.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 15;
   display: flex;
  justify-content: center; 
  align-items: center;
}

.navigation.active {
  left: 0;
  
}

.navigation ul {
  position: relative
}
.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
}

.navigation ul li a {
  font-size: 2.2rem;
  color: #111;
  text-decoration: none;
  font-weight: 300;
  
}

.navigation ul li a:hover {
  color: var(---primary-color);
}
.navigation .social-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .social-bar a{
  display: inline-block;
  transform: scale(0.5);
}

.navigation .email-icon{
  position: absolute; 
  bottom: 20px;
  transform: scale(0.5);
  
  
}

/* HOME */

.home-content {
  z-index: 10;
  max-width: 600px;
  
}

.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 110%;
}

/* SERVICES */

.services {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 40px;
    text-align: center;

}
.services .service .icon img {
max-width: 100px;

}

.services .service h2 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    color: #1b206e;
    
}
.services .service {
    padding: 30px;

}

.services .service:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/*  WORK PAGE */
.portfolio {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;


}

.portfolio .title {
padding: 100px;
}

.portfolio .title .item {
  position: relative;
}

.portfolio .item {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.portfolio .item img {
width: 100%;
height: 100%;

}

.portfolio .item .action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0 ;
    transition: 0,4s;
}
.portfolio .item:hover .action {
    opacity: 1;
    
}


.portfolio .item  .action a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border: 2px blueviolet solid;
}

/* STORIES*/

.stories-body{
  display: flex;
    justify-content: center;
    color: #6b7c93;
    background-color: #f6f9fc;
}


.stories-skulder {
  display: flex;
  flex-direction: row;
}

.stories-container {
  
    display: flex;
    flex-direction: column;
    position: relative;

}


.stories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 8px;

}


.new-story{
  width: calc((100%/3) - 18px);
  margin-bottom: 18px;
  margin-right: 18px;
  height: 325px;
 
}

.story-frame {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 18px;
  height: 100%;
} 

.story-design {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.story-design .title {
  font-weight: 800;
    font-size: 18px;
    margin-top: -4px;
    margin-bottom: 12px;
}

.story-design .collage {
  display: flex;
  height: 148px;
  width: 100%;
}

.collage {
  width: 100%;
    height: auto;
    padding: 2px;
}

.story-design .tags {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 12px;
}

.story-design .tags-left{
  font-size: 12px;
    color: #9d9fb2;
}

.story-design .tag-right {
  font-size: 18px;
    white-space: nowrap;
    margin-bottom: -2px;
}

.collage-image {
  height: auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 3px;
}


a:-webkit-any-link {
  text-decoration: none!important;
}

a.link-overlay {
  background: 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}



.new-story a:hover{
  background-color: transparent;
}
a {
  display: inline-block;
}



/* CONTACT */

.contact    {
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start ;
}
.contact-form {
    position: relative;
    background: #fff;
    width: calc(100% -400px);
    padding: 20px 40px 20px;

}

.contact-form form {
    width: 100%;
}

.contact-form .row {
    width: 100%;
    display: flex;
}

.contact-form .input50 {
    width: 50%;
    margin: 0 10px;
}

.contact-form .input100 {
    width: 100%;
    margin: 0 10px;
}

.contact-form .row input,
.contact-form .row textarea {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #111;
    background: transparent;
        width: 100%;
        height: 30px;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        margin: 10px 0;
        resize: none;

}


.contact-form .row textarea {
    height: 150px;
}

.contact-form .row  input [type='submit'] {
    background-color: #1b206e;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border: 0;
    cursor: pointer;

}

.contact-info {
    width: 300px;
    background: #f9f9f9;
    padding: 60px 60px 30px;

}

.contact-info .info-box{
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.contact-info .info-box .contact-icon {
    width: 20px;
    margin-right: 40px;

}

.contact-info .info-box .details h4 {
    color: var(--secondary-color);


}

.contact-info .info-box .details p,
.contact-info .info-box .details a {
    color: #111;
}


/* Article */

  .tab-container {
    position: relative;
    margin: 8px;
    background: #7480e7;
    color: #fff;
}

.tab-content {
  background-color: #7480e7;
}



.meta-container {
  display: flex;
  justify-content: space-between;
 
  background: #7480e7!important;
  color: #fff;
  padding: 12px;
  

}

.meta-left {
  display: flex;
}

.meta-left .profilbilde {
  align-items: center;
}

.profilbilde {
  height: auto;
    max-width: 40%;
    padding: 30px;
}

.personalia {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    text-align: left;
}

.personalia a {
  font-size: 20px;
  color:#fff
}


.meta-right {
   display: flex;
   

}

.meta-right .details {
  padding: 12px;
  display: flex;
 
  align-items: center;
}

.meta-right .details .omsetning {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    width: 90px;
}

.meta-right .details .omsetning .data {
font-size: 20px;

}
.meta-right .details .omsetning .data .title {
  display: flex;
 
}

.meta-right .employees {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  width: 90px;
}

.meta-container .title {
  font-size: 12px;
}

@media (max-width: 1068px) {
  .home-img{
    display: none;
  }
}

  
  .logo {
    top: 10px;
    left: 40px;
    font-size: 1.5rem;
  }
  
  section {
    padding: 100px 40px;
  
    
  }



  .contact {
    flex-direction: column ;
  }

  .contact-form {
    width: 100%;
    padding: 30px 30px 30px;
  }
  
  .contact-form .row {
    flex-direction: column;
  }
  .contact-form .input50,
  .contact-form .input100{
    width: 100%;
    margin: 0;
  }

  .contact-info {
    width: 100%;
    margin-top: 30px;
    padding: 30px 30px 30px;
  }
  .navigation ul li a{
    font-size: 2rem;
  }

  .services {
     grid-template-columns: repeat(2, 1fr) ;
    
}


@media(max-width: 768px) {
    .services {
        grid-template-columns: 1fr ;
       
   }

   .services .service {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
}


/*stories*/




@media only screen and (min-width: 1015px){
  .new-story {
    width: 430px;
}
}

@media only screen and (min-width: 890px){
  .new-story {
    width: 400px;
}
}

@media only screen and (min-width: 700px) {
  .new-story {
    width: 325px;
}
}

@media only screen and (min-width: 0px) {
  .new-story{
    width: 100%;
    margin-left: 0;
}
}


@media only screen and (min-width: 530px) {
.new-story {
    width: 350px;
}
}
   
  

